.vim/.netrwhist
.vim/autoload/plug.vim*
.vim/bundle/*
.vim/plugged/*
.vim/view/*
.config/qutebrowser/qsettings/QtProject.conf
.config/qutebrowser/autoconfig.yml
aliases/bash_autoaliases
aliases/ranger_autoaliases
*.pyc
.config/autorandr/*
!.config/autorandr/postswitch
.config/ipython/profile_default/startup/*
.config/ipython/profile_default/history*
!.config/ipython/profile_default/startup/default.py
.nvimlog
