! Location: ~/.Xresources

! URxvt

URxvt*background: black
URxvt*foreground: white
URxvt.font: xft:Pragmata Pro:size=10, \
            xft:unifont:style=Medium:antialias=false, \
            xft:Noto Sans Ethiopic:style=Regular
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  qutebrowser
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search



!! Rofi
!rofi.width: 60
!rofi.lines: 20
!! to reenable the bg color 00 --> 99
!rofi.color-window: #000e4784,#ff000000,#ffffffff
!rofi.padding: 200
!rofi.color-normal: #ffffff,#000000,#ffffff,#333333,#ffffff
!rofi.separator-style: none
