! Location: ~/.Xresources

! URxvt

URxvt*background: #090909
!URxvt*foreground: #a1b0b8
URxvt*foreground: #f5f5f5
URxvt.font: xft:PragmataProMono Nerd Font Mono:size=10
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  qutebrowser
URxvt.url-select.underline: true
URxvt.url-select.button:		1
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! Black + DarkGrey
!*color0:  #252525
*color0:  #090909
*color8:  #555753
! DarkRed + Red
*color1:  #ff443e
*color9:  #ff8d8d
! DarkGreen + Green
!*color2:  #c3d82c
*color2:  #6dd82c
*color10: #c8e7a8
! DarkYellow + Yellow
*color3:  #ffd740
*color11: #ffc135
! DarkBlue + Blue
*color4:  #42a5f5
*color12: #3465a4
! DarkMagenta + Magenta
*color5:  #d81b60
*color13: #f57900
!DarkCyan + Cyan (both not tango)
*color6:  #00acc1
*color14: #46a4ff
! LightGrey + White
*color7:  #f5f5f5
*color15: #ffffff

!! Rofi
!rofi.width: 60
!rofi.lines: 20
!! to reenable the bg color 00 --> 99
!rofi.color-window: #000e4784,#ff000000,#ffffffff
!rofi.padding: 200
!rofi.color-normal: #ffffff,#000000,#ffffff,#333333,#ffffff
!rofi.separator-style: none
