! Location: ~/.Xresources

! URxvt

! Font rendering
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull

! Primary theme colors
URxvt*background: #090909
URxvt*foreground: #f5f5f5

! Fonts
URxvt.font: xft:PragmataProMono Nerd Font Mono:pixelsize=14:antialias=true
URxvt.allow_bold: true

! Remove scroll bar
URxvt.scrollBar: false

! Fix font spacing
URxvt.letterSpace: -1

! Fix keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~
URxvt.keysym.M-Up: \033[1;3A
URxvt.keysym.M-Down: \033[1;3B

! URL and text selection
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.url-select.button:		1
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! Disable "iso 14755 mode" and "keycap picture insert mode"
URxvt.iso14755: false
URxvt.iso14755_52: false

! Colors

! black + darkgrey
!*color0:  #252525
*color0:  #090909
*color8:  #555753
! darkred + red
*color1:  #ff443e
*color9:  #ff8d8d
! darkgreen + green
!*color2:  #c3d82c
*color2:  #6dd82c
*color10: #c8e7a8
! darkyellow + yellow
*color3:  #ffd740
*color11: #ffc135
! darkblue + blue
*color4:  #42a5f5
*color12: #3465a4
! darkmagenta + magenta
*color5:  #d81b60
*color13: #f57900
!darkcyan + cyan (both not tango)
*color6:  #00acc1
*color14: #46a4ff
! lightgrey + white
*color7:  #f5f5f5
*color15: #ffffff

!! Rofi
!rofi.width: 60
!rofi.lines: 20
!! to reenable the bg color 00 --> 99
!rofi.color-window: #000e4784,#ff000000,#ffffffff
!rofi.padding: 200
!rofi.color-normal: #ffffff,#000000,#ffffff,#333333,#ffffff
!rofi.separator-style: none
